<div class="center">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	Dope and Derp is a great site to upload a picture where <em>you</em> look like a <strong>Dope</strong> or a <strong>Derp</strong>
	<br><br>

	Create an account and get uploading and voting!!!
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

</div>
